/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  width: 50%;
}

.left {
  left: 0;
  text-align: right;
}

.right {
  left: 50% ;
  text-align: left;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  right: -8px;
  background-color: white;
  border: 4px solid black;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.right::after {
  left: -9px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  
/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}