@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.container {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url('/43rdConcert.png') black no-repeat;
  background-size: 50%;
  background-position: 20% 50%;
}

.banner {
  position: fixed;
  width: 30%;
  left: 65%;
  color: white;
}

.banner h3 {
  font-size: 3rem;
}

.banner h4 {
  margin-top: 2rem;
}