@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.container {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: black;
}

.text {
  position: absolute;
  color: white; 
  font-size: 5rem;
  text-align: center;
}

.text p:nth-child(1) {
  font-size: 5rem;
  font-family: 'Great Vibes', cursive;
  font-weight: 300;
}

.text p:nth-child(2) {
  font-size: 8rem;
  font-family: 'Great Vibes', cursive;
  font-weight: 700;
}